<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menu</div>
                <a class="nav-link" href="/Product/Index/">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Products
                </a>
                <a class="nav-link" href="/Customer/Index/">
                    <div class="sb-nav-link-icon"><i class="fa fa-users"></i></div>
                    Customers
                </a>
                <a class="nav-link" href="/Category/Index/">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Categories
                </a>
                <a class="nav-link" href="/Job/Index/">
                    <div class="sb-nav-link-icon"><i class="fa fa-suitcase"></i></div>
                    Jobs
                </a>
                <a class="nav-link" href="/Job/AddJob/">
                    <div class="sb-nav-link-icon"><i class="fa fa-news"></i></div>
                    Add New Job
                </a>
                <a class="nav-link" href="/Product/AddProduct/">
                    <div class="sb-nav-link-icon"><i class="fa fa-gift"></i></div>
                    Add New Product
                </a>
                </a>
                <a class="nav-link" href="/Settings/Index/">
                    <div class="sb-nav-link-icon"><i class="fa fa-lock"></i></div>
                    Settings
                </a>
                <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fa fa-info"></i></div>
                    Help
                </a>
                <a class="nav-link" href="/Login/LogOut/">
                    <div class="sb-nav-link-icon"><i class="fa fa-close"></i></div>
                    Logout
                </a>
            </div>
        </div>
    </nav>
</div>